/*body {
  		background-image: url("image/bg.jpg");
	}*/


	.navbar{
		background-color:#343641;
		width:100%;
	}

	.btn-outline-primary {
 	 	background-color: #dfc277;
  		color:#343641;
  		border: 3px solid #6990a2; 
  		border-radius: 12px;
  		
	}
	.btn{font-weight:bold;}

	.btn-outline-primary:hover {
 	 	background-color:#6990a2;
 	 	border: 3px solid #6990a2; 
	}

	.nav-item{
		margin-left:10px;
	}
