/*@media only screen and (max-width: 600px) {*/

 /*write*/
.boy-image{
    width: 130px;
	margin-left: 60%;
	margin-top: -620px;
  }

  .love-image{
    margin-top: -15%;
  }

  textarea{
  	height: 300px!important;
  }


  /*wonder*/

  .insertBtn{
  	float: right;
  }

  .searchImg{
  position: relative;  
  background-image: url("../image/search.svg"),
                    url("../image/girl.svg");
  background-repeat: no-repeat;
  background-position: center top, 120px 0px;
  background-size: 110% 110%, 45% 45%;
}


 .wonderform{
  padding-top: 0em;
  padding-bottom: 22em;
}
 #searchname{
  width: 150px;
  height: 40px;
  top: 38%;
}

  #submitbutton{
 
  float: right;
  display: block;
 /* margin-right: auto;
  margin-left: auto;*/
  top: 90%;
  width: 130px;
   left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*}*/